In [55]:
import pandas as pd
from datetime import datetime, timezone
import numpy as np
import os

In [56]:
# Load all CSV files
df_fact_player = pd.read_csv('../data/Fact_Player.csv')
df_gameweeks = pd.read_csv('../data/Gameweeks.csv')
df_player_history = pd.read_csv('../data/Player_history.csv')
df_players = pd.read_csv('../data/Players.csv')
df_positions = pd.read_csv('../data/Positions.csv')
df_teams = pd.read_csv('../data/Teams.csv')
df_fixtures=pd.read_csv('../data/Fixtures.csv')

In [57]:
# Create a mapping from code in df_teams to team_code
code_mapping = df_teams.set_index('code').to_dict()['team_name']  # Adjust as needed
position_mapping = df_positions.set_index('id').to_dict()['singular_name_short']  # Assuming you want position_name

# Replace element_type in df_player
df_players['element_type'] = df_players['element_type'].map(position_mapping)
df_players['team_code'] = df_players['team_code'].map(code_mapping)

KeyError: 'position_name'

In [53]:
df_players

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,full_name
0,0.0,0.0,438098,0,0,-1,1,0,3,0.0,...,81,644,292,652,297,619,274,0.00,0.00,Fábio Ferreira Vieira
1,100.0,100.0,205651,0,0,-2,2,0,4,1.7,...,14,303,32,415,45,202,38,1.15,0.00,Gabriel Fernando de Jesus
2,NaN,NaN,226597,0,0,2,-2,1,2,4.3,...,3,87,23,21,2,11,4,1.00,0.43,Gabriel dos Santos Magalhães
3,75.0,NaN,219847,1,-1,3,-3,1,4,4.7,...,4,35,10,18,6,16,3,1.00,0.43,Kai Havertz
4,0.0,0.0,463748,0,0,0,0,0,1,0.0,...,65,405,47,473,53,538,66,0.00,0.00,Karl Hein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661,100.0,100.0,510362,0,0,-2,2,0,2,-0.7,...,150,311,99,402,126,392,142,1.00,0.00,Toti António Gomes
662,50.0,0.0,560248,0,0,0,0,0,2,-0.5,...,210,430,154,497,176,380,136,0.00,0.00,Bastien Meupiyou
663,NaN,NaN,509291,0,0,0,0,0,3,0.3,...,153,212,106,304,151,595,257,1.14,0.00,André Trindade da Costa Neto
664,NaN,NaN,463212,0,0,0,0,0,3,-0.7,...,76,345,179,412,211,608,266,0.83,0.00,Carlos Roberto Forbs Borges
665,NaN,NaN,517179,0,0,0,0,0,2,-1.0,...,205,425,149,492,171,413,151,0.00,0.00,Alfie Pond

In [51]:
def save_to_csv(df, file_name):
    # Ensure the 'data' directory exists
    os.makedirs('data', exist_ok=True)
    
    # Save the CSV in the 'data' folder
    file_path = os.path.join('data', file_name)
    df.to_csv(file_path, index=False)
    print(f"Data saved to CSV file: {file_path}")

In [54]:
save_to_csv(df_players, 'merg.csv')

Data saved to CSV file: data\merg.csv