In [46]:
import pandas as pd
from datetime import datetime, timezone
import numpy as np

In [47]:
# Load all CSV files
df_fact_player = pd.read_csv('../data/Fact_Player.csv')
df_gameweeks = pd.read_csv('../data/Gameweeks.csv')
df_player_history = pd.read_csv('../data/Player_history.csv')
df_players = pd.read_csv('../data/Players.csv')
df_positions = pd.read_csv('../data/Positions.csv')
df_teams = pd.read_csv('../data/Teams.csv')
df_fixtures=pd.read_csv('../data/Fixtures.csv')

In [48]:
# Create mappings of team IDs to team names and short names
team_name_mapping = pd.Series(df_teams.team_name.values, index=df_teams.id).to_dict()
team_short_name_mapping = pd.Series(df_teams.short_name.values, index=df_teams.id).to_dict()

# Replace team_a and team_h IDs with team names
df_fixtures['team_a'] = df_fixtures['team_a'].replace(team_name_mapping)
df_fixtures['team_h'] = df_fixtures['team_h'].replace(team_name_mapping)

# Add team_a_short and team_h_short columns using the original team IDs
df_fixtures['team_a_short'] = df_fixtures['team_a'].map(lambda x: team_short_name_mapping[df_teams[df_teams.team_name == x].id.values[0]] if x in team_name_mapping.values() else None)
df_fixtures['team_h_short'] = df_fixtures['team_h'].map(lambda x: team_short_name_mapping[df_teams[df_teams.team_name == x].id.values[0]] if x in team_name_mapping.values() else None)
df_fixtures = df_fixtures.drop(columns=['pulse_id'])
#filtered_fixtures = df_fixtures[(df_fixtures['finished'] == False) & (df_fixtures['finished_provisional'] == False)]

# Display the updated df_fixtures
#filtered_fixtures

df_fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,team_a_short,team_h_short
0,2444470,1,True,True,1,2024-08-16T19:00:00Z,90,False,True,Fulham,0.0,Man Utd,1.0,2,3,FUL,MUN
1,2444473,1,True,True,4,2024-08-17T11:30:00Z,90,False,True,Liverpool,2.0,Ipswich,0.0,4,2,LIV,IPS
2,2444471,1,True,True,2,2024-08-17T14:00:00Z,90,False,True,Wolves,0.0,Arsenal,2.0,2,5,WOL,ARS
3,2444472,1,True,True,3,2024-08-17T14:00:00Z,90,False,True,Brighton,3.0,Everton,0.0,2,3,BHA,EVE
4,2444474,1,True,True,5,2024-08-17T14:00:00Z,90,False,True,Southampton,0.0,Newcastle,1.0,2,4,SOU,NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2444845,38,False,False,376,2025-05-25T15:00:00Z,0,False,False,Everton,NaN,Newcastle,NaN,2,4,EVE,NEW
376,2444846,38,False,False,377,2025-05-25T15:00:00Z,0,False,False,Chelsea,NaN,Nott'm Forest,NaN,3,2,CHE,NFO
377,2444847,38,False,False,378,2025-05-25T15:00:00Z,0,False,False,Arsenal,NaN,Southampton,NaN,5,2,ARS,SOU
378,2444848,38,False,False,379,2025-05-25T15:00:00Z,0,False,False,Brighton,NaN,Spurs,NaN,2,4,BHA,TOT
379,2444849,38,False,False,380,2025-05-25T15:00:00Z,0,False,False,Brentford,NaN,Wolves,NaN,2,2,BRE,WOL

In [68]:
import pandas as pd

# Sample DataFrame: df_fixtures
# df_fixtures = pd.read_csv('your_file.csv')  # Ensure your DataFrame is already loaded.
upcoming_gameweeks = df_fixtures[df_fixtures['finished'] == False]

# Create an empty DataFrame to hold the home/away labels
teams = upcoming_gameweeks['team_a_short'].unique()  # Get unique team short names
unique_gameweeks = upcoming_gameweeks['event'].unique()  # Get unique gameweeks from upcoming games

# Format gameweek numbers with 'GW' prefix
formatted_gameweeks = [f'GW{gw}' for gw in unique_gameweeks]

# Create matrix based on unique gameweeks
fdr_matrix = pd.DataFrame(index=teams, columns=formatted_gameweeks)

# Dictionary to store original FDR values for color coding
fdr_values = {}

# Populate the FDR matrix with team names and home/away labels
for index, row in upcoming_gameweeks.iterrows():
    gameweek = f'GW{row["event"]}'  # Format gameweek with 'GW'
    team_a = row['team_a_short']
    team_h = row['team_h_short']
    fdr_a = row['team_a_difficulty']  # FDR for team_a
    fdr_h = row['team_h_difficulty']  # FDR for team_h

    # Assign team name with home/away indication
    fdr_matrix.at[team_a, gameweek] = f"{team_h} (A)"  # Team A is playing away
    fdr_matrix.at[team_h, gameweek] = f"{team_a} (H)"  # Team H is playing at home

    # Store FDR values for coloring later
    fdr_values[(team_a, gameweek)] = fdr_a
    fdr_values[(team_h, gameweek)] = fdr_h

# Convert the FDR table to a proper format (e.g., string to prevent confusion with numerical FDR)
fdr_matrix = fdr_matrix.astype(str)

# Define a function to color the DataFrame based on original FDR values
def color_fdr(team, gameweek):
    fdr_value = fdr_values.get((team, gameweek), None)
    
    if fdr_value is None:  # Handle NaN values
        return 'background-color: white;'  # Neutral color for NaN

    # Color coding based on FDR value
    if fdr_value == 1:  # Class for FDR 1
        return 'background-color: #257d5a;'  # Green
    elif fdr_value == 2:  # Class for FDR 2
        return 'background-color: #00ff86;'  # Light Green
    elif fdr_value == 3:  # Class for FDR 3
        return 'background-color: #ebebe4;'  # Yellow
    elif fdr_value == 4:  # Class for FDR 4
        return 'background-color: #ff005a;'  # Orange
    elif fdr_value == 5:  # Class for FDR 5
        return 'background-color: #861d46;'  # Red
    else:
        return ''  # No color for other values

# Create a styled DataFrame to visualize FDR values with color coding
styled_fdr_table = fdr_matrix.copy()  # Copy to apply styles

# Apply color to each cell based on FDR values while retaining team names
def apply_color(row):
    return [color_fdr(row.name, col) for col in row.index]

# Applying the style to the entire DataFrame
styled_fdr_table = styled_fdr_table.style.apply(apply_color, axis=1)

# To display the styled DataFrame
styled_fdr_table